[Unit]
After=NetworkManager.service time-sync.target
Description=No Vacancy

[Service]
User=pi
Group=pi
ExecStart=/usr/local/bin/novacancy-host
KillMode=none
TimeoutStopSec=3
KillSignal=SIGINT

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
